<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/historyStyle.css" />
    <title>History Page</title>
  </head>
  <body>
    <h1>Welcome to History Page</h1>

    <div id="park-history">
      <ul>
        <li class="park-entry">
          <div class="user-info">
            <img src="user_profile_picture.jpg" alt="User Profile Picture" />
            <h2>User Name</h2>
          </div>
          <div class="park-info">
            <p>Date Visited: January 1, 2024</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12084.26553746132!2d-73.9655834!3d40.7825547!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2sCentral%20Park!5e0!3m2!1sen!2sus!4v1709578060182!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>Park Name: Central Park</p>
            <p>
              <a href="#">View Images</a>
            </p>
          </div>
        </li>

        <!-- More park entries can be added here -->
      </ul>
    </div>
  </body>
</html>
