<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/27c4ffa0b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/process.css">
    <script defer src="./js/chart.js"></script>
    <title>Progress Page</title>
</head>

<body>
    <h1>Welcome to Progress Page</h1>

    <section class="sectionStyle">


        <div class="container py-5">

            <div class="row">


                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">



                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btn-lg btn-outline-light me-3" type="button">
                                        <span class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></span>
                                    </button>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Different parks visited</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">Total parks visited</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Visited Parks</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">Visited Parks</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Parks Visited this month</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">Parks Visited this month</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Favorite Park</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-muted mb-0">Favorite Park</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="bar-chart"></div>
        </div>
        </div>
    </section>
</body>

</html>