<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer Dashboard</title>
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
<style>
body {
	background-color: #1E1515;
	color: #ECE5E2;
}

label {
	font-size: 18px;
}

button.btn.btn-primary {
	background-color: #426265;
	border-color: #22383D;
	font-size: 50px;
	width: 30vw;
	height: 50vh;
	margin-top: 5vh;
}

div.dashboard {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

input.ng-valid {
	background-color: lightgreen;
}

input.ng-dirty.ng-invalid-required, input.ng-dirty.ng-invalid-number {
	background-color: red;
}

input.ng-dirty.ng-invalid-min {
	background-color: yellow;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
</head>

<body>


	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('PlaceCtrl', function($scope, $http) {
			$scope.recipes = [];
			$scope.recipe;
			$scope.amtPaid;
			$scope.change;
			$scope.currentUser;
			$scope.orders = [];
			
			$scope.getRecipes = function() {
				$http.get("/api/v1/recipes").then(function(response) {
					$scope.recipes = response.data;
					
				}, function(rejection) {
					console.error("Error while getting Recipes");
				})
			}
			
			$scope.getCurrentUser = function() {
				$http.get("/api/v1/users/current").then(function(response) {
					$scope.currentUser = response.data;
					console.log($scope.currentUser)
					
				}, function(rejection) {
					console.error("Error while getting Current User");
				})
			}
			
			$scope.getOrders = function() {
				$http.get("/api/v1/orders").then(function(response) {
					$scope.orders = response.data;
					console.log($scope.orders);
					
				}, function(rejection) {
					console.error("Error while getting Orders");
				})
			}
			
			$scope.submit = function() {
				$scope.placeOrder();

				$scope.getRecipes();
		        $scope.getCurrentUser();
			}

			$scope.placeOrder = function() {
				$scope.success = false;
				$scope.failure = false;
				$scope.change = $scope.amtPaid - $scope.recipe.price;

				if ($scope.amtPaid >= $scope.recipe.price) {
					$scope.getOrders();
					
					if ($scope.orders.length > 0) {
						$scope.nextIndex = $scope.orders[$scope.orders.length - 1].id;
					}
					else {
						$scope.nextIndex = 0;
					}
					
					const order = {
						"id": $scope.nextIndex + 1,
						"userID": $scope.currentUser.id,
						"userName": $scope.currentUser.username,
						"recipe": $scope.recipe,
						"fulfilled": false
					}
						
					$http.post("/api/v1/orders", order).then(
							function(success) {
								$scope.success = true;
								$scope.failure = false;
								
							}, function(rejection) {
								console.error("Error creating order");
								$scope.success = false;
								$scope.failure = true;
							});
				}
				else {
					alert("Not Enough Money.");
				}
			}
			
			$scope.logout = function() {
				$http.post("/api/v1/logout").then((resp) => {
						document.location.href="/";
				})
			}
			
			$scope.home = function() {
				document.location.href="/index";
			}

           $scope.redirect = function(filename) {
				window.location.href = filename;
           }
			
           $scope.getRecipes();
           $scope.getCurrentUser();
           $scope.getOrders();
           
		});
		/*]]>*/
	</script>
	<div ng-app="myApp" class="ng-cloak"
		ng-controller="PlaceCtrl as ctrl">

		<nav id="navbar" class="navbar sticky-top" style="background-color: #426265; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
			<div class="h1 redirect" ng-click="home()" style="width: 30vw; text-align: left;">Home</div>
	        <div class="h1" style="width: 30vw; text-align: center;">CoffeeMaker</div>
	        <div class="h1 redirect" ng-click="logout()" style="width: 30vw; text-align: right;"> Logout</div>
	    </nav>

		<br>

		<div class="dashboard">
			<form ng-submit="submit()" name="placeOrderForm"
				class="form-horizontal">
				<div class="h3" style="text-align: center;">Place Order</div>

				<div>
					<label>Select a Recipe:</label>
					<select style="color: black;" ng-model="recipe" ng-options="r as r.name + ', $' + r.price for r in recipes" required="true">
						<option value="">Select Recipe</option>
					</select>
				</div>
				
				<br>

				<div>
					<label for="amtPaid">Payment:</label>
					<input type="number" ng-model="amtPaid" name="amtPaid"
						class="form-control input-sm" placeholder="Enter payment amount"
						required="0" min="0" />
					<div class="has-error" ng-show="placeOrderForm.$dirty">
						<span ng-show="placeOrderForm.amtPaid.$error.required">This
							is a required field.</span>
							<span ng-show="placeOrderForm.amtPaid.$error.min">Minimum amount
							is 0.</span>
							<span ng-show="placeOrderForm.amount.$invalid">This
							field is invalid.</span>
					</div>
				</div>
				
				<br>

				<div class="form-actions">
					<input type="submit" value="Submit" class="btn btn-primary btn-sm"
						ng-disabled="placeOrderForm.$invalid" />
				</div>
			</form>
		</div>
		
		<div ng-show="success">Order Successfully Placed. Your change is ${{change}}.</div>
		<div ng-show="failure">Error while placing order!</div>
	</div>







</body>
</html>
